<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" href="cdn/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
<script defer src="/cdn/scripts/user/bundle_WelcomePage.js"></script>
</head>
<body>
  <div class="header1">
   About      
</div>

<div class="topnav3">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/register">Sign-up</a>
  <a href="/login">Sign-in</a>
</div>

<div class="bodySection">
This is a project management system by: <br>
<p>
    Techto!
    </p>
</div>
</body>
</html>

