<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arrived Safe Notification</title>
    <meta charset="utf-8" />
    <link rel= "stylesheet" href="/cdn/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <h3>Send a arrived safe Notification to alert group mates that you have arrived home safe from a meeting:</h1>

</body>


 <form id="leave" action="/user/api/ArrivedNotifications" method="post" >
     <label for="groupName">Enter the group's meeting Name: </label><br>
     <input type="text" id="studyGroupName" name="groupName" placeholder="Study Group Name"><br><br>
         
     <div>
         <button type="submit" id="submit7">Submit</button>
     </div>

 </form>

 <% if(errormessage && errormessage.length > 0) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
       <strong>Warning!</strong> <%=errormessage %> 
       <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% } %>

</html>