<!DOCTYPE html>
<html lang="en">
<head>

<title>Home Page</title>

 <meta charset="utf-8" />
 <link rel= "stylesheet" href="/cdn/css/style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script defer src="/cdn/scripts/user/bundle_dashBoard.js"></script>
 <script defer src="/cdn/scripts/user/groups.js"></script> 


</head>
<body1>

<div class="header">
 Dashboard: <br>
    <span id="welcomeMessage" contenteditable="false"> </span>
</div>

<div class="row2">
  <div class="column2 side1">
    <h2>Navigation</h2>
  <a href="/user/homepage" class="active">Home</a>
  <a href="/groups/group">Projects</a>
  <a href="/projects/createProject">Create Project</a>
  <a href="/groups/searchGroups">Search Project</a>
  <a href="/user/logout">Logout</a>
  </div>
  
  <div class="column2 middle">
    <h1>Projects</h1>
    <div class="center">
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
</table>
 
  </div>
</div>
  </div>
  
  
</div>
  
</body1>
</html>