<html>

<head>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
    <link rel="stylesheet" href="/cdn/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/cdn/scripts/user/map.js"></script>
    <title>Map-Page</title>
</head>

<body style="border: 0; margin: 0;">
    <div id="map"></div>

    <div class="formBlock">
        <form id="location" action="/user/api/destination" method="post">
            <input type="text" name="start" class="input" id="start" placeholder="Your Meeting Location" /><br><br>

           <!--
<% if((!latitude.length) || (!longitude.length)) { %>
                <p>You have no meeting destination to view</p>
                <% } %>

                    <% if(latitude.length && longitude.length) { %>
                        <ul>
                            <% latitude.forEach(function(request) { %>
                                <li>
                                    <%= request.latitude %><br>
                                </li>
                                <% }); %>

                                <% longitude.forEach(function(request) { %>
                                    <li>
                                        <%= request.longitude %><br>
                                    </li>
                                    <% }); %>
                        </ul>
                        <% } %>
                            <br>
           --> 
        <div>
            <button type="submit" id="submit9">Get Location </button>
        </div>
        </form>
    </div>
</body>

</html>