<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online meeting</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/cdn/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: powderblue;">
  <div class="topnav4">
    <a href='/user/homepage'>Home</a>
    <a href="/groups/group">Groups</a>
  </div>

  <div id="facef">
    <h3>Organize a online meeting with a group member</h3><br><br>

    <% if(errormessage && errormessage.length> 0) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning!</strong>
        <%=errormessage %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <% } %>

        <form id="faceform" action="/user/api/online" method="post">

          <label for="groupMember">Enter group member's username</label><br>
          <input type="text" id="group_member" name="groupMember" placeholder="Username"><br><br><br>

          <label for="date2">Meeting date:</label>
          <input type="date" id="date2" name="date2" min=<%=minDate %> max="2021-12-31" required><br><br><br>

          <label for="time2">Meeting time:</label>
          <input type="time" id="time2" name="time2" min="08:00" max="17:00" required><br>
          <small>Meeting hours are from 8am to 5pm</small><br><br>

          <input type="submit" value="submit">

        </form>
  </div>
</body>

</html>