<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Tasks</title>

    <meta charset="utf-8" />
 <link rel= "stylesheet" href="/cdn/css/style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script defer src="/cdn/scripts/user/bundle_dashBoard.js"></script>
 <script src="/cdn/scripts/user/tasksDashboard.js"></script> <!-- Our JavaScript code for this page-->
</head>

<body style="background-color: powderblue;">
	<div class="topnav4">
		<a href='/user/homepage'>Home</a>
        <a href= "/projects/CreatedProject">Back</a>
	</div>
  

<div class="d-flex justify-content-center">
  <div class="spinner-border" 
       role="status" id="loading">
      <span class="sr-only">Loading...</span>
  </div>
</div>

<h2>List of Tasks in the Project</h2>
<!-- table for showing data -->
<table class="center" id="tasks"></table>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
</html> 