<!DOCTYPE html>
<html lang="en">
<head>
   <title>Reset Your Password</title>
 <meta charset="utf-8" />
 <link rel= "stylesheet" href="/cdn/css/style.css">
</head>

<body>
  <h3>Enter your Employee Number</h3>
</body>

<form action="/api/generateCode" method="POST">


    <label for="email">Enter Employee Number: </label><br>
    <input type="text" id="employeeNumber" name="employeeNumber" placeholder="Employe Number"><br>
   
    <div>
      <button type="submit" id="send">Send</button>
    </div>
   
</form>

</html>