<!DOCTYPE html>
<html lang="en">
<head>
<title>Project Management System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
<link rel= "stylesheet" href="cdn/css/style.css">

<script defer src="/cdn/scripts/user/bundle_WelcomePage.js"></script>

</head>
<body2>

<div class="header1">
  Project Management System <br>
  <time id="time">11:00:00</time>      
</div>

<div class="topnav3">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/register">Sign-up</a>
  <a href="/login">Sign-in</a>
</div>
  

</body2>
</html>
