<!DOCTYPE html>
<html>
<head>
     <title>Members List</title>
     <meta charset="utf-8" />
     <script src="/cdn/scripts/user/members.js"></script> <!-- Our JavaScript code for this page-->
     <link rel= "stylesheet" href="/cdn/css/style.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body style="background-image: url(/cdn/images/blue.jpg);">
    <div class="topnav4">
		<a href='/user/homepage'>Home</a>
    <a href= "/groups/CreatedGroup">Back</a>
	</div>


  <div id="mems">
   <h3 class="header">Members of this Group:</h3>
        <ul id="membersList">
        <!-- The list of students in the school-->
         </ul>
  </div> 
</body>
</html>