<!DOCTYPE html>
<html>
<head>
     <title>Project List</title>
     <meta charset="utf-8" />
     <link rel= "stylesheet" href="/cdn/css/style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script defer src="/cdn/scripts/user/groups.js"></script> 
<body>
<div id = "mydiv1" class="topnav">
    <a class="active" href="/user/homepage">Home</a>
</div> 

<div class="center">
    <div id="grpdiv1" class="icons">
  
    </div>
    <div id="grpdiv2" class="icons">
 
    </div>
</div>


</body>
</html>