<!DOCTYPE html>
<html lang="en">
<head>
   <title>Reset Your Password</title>
 <meta charset="utf-8" />
 <link rel= "stylesheet" href="/cdn/css/style.css">
</head>

<body>
  <h3>Change your password</h3>
</body>

<form action="/api/resetPassword" method="post">

      <label for="email">Enter emailed G-code: </label><br>
    <input type="text" id="gcode" name="gcode" placeholder="Enter G-code"><br>

    <label for="name">Employee Number: </label><br>
    <input type="text" id="employeeNumber" name="employeeNumber" placeholder="Employee Number"><br>
  
    <label for="name">New Password: </label><br>
    <input type="text" id="newpassword" name="Password" placeholder="Enter new password"><br>

    <label for="surname">Confirm Password: </label><br>
    <input type="text" id="Cpassword" name="Cpassword" placeholder="Confirm Password"><br>
   
    <div>
      <button type="submit" id="SubmitButton5">Submit</button>
    </div>
   
</form>

</html>