<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Page</title>
    <meta charset="utf-8" />
    <link rel= "stylesheet" href="/cdn/css/style.css">
	
	<script defer src="/cdn/scripts/user/bundle_StudyGroupPage.js"></script>
    
</head>

<body>
	<div class="topnav2">
		<a href='/user/homepage'>Home</a>
		<a href="leaveGroup">Leave</a>
	</div>

	<div class="groupNavigation">
		<a id="Voting" href="vote">Add Member Vote</a><br>
        <a id="Voting" href="kick">Remove Member Vote</a><br>
		<a id="rates" href="/groups/rate">Rate a user</a><br>
        <a id="AddMembers" href="joinByInvite">Add-members/Invite</a><br>
        <a id="RemoveMembers" href="removeMember">Remove-members</a><br>
		<a id="ListMembers" href="/user/members">List Members</a><br>
		<a id="OrganizeOnline" href="/user/online">Organize Online Meetings</a><br>
		<a id="OrganizeFace-Face" href="/user/Screeningform">Organize Face-Face Meetings</a><br>		
		<a id="Resources" href="/user/resources">Resources</a><br>
		<a id="Meeting Location" href="/user/map">Location</a><br><br>
		<a id="activities" href="/user/activities">View Activity Log</a><br>

    </div> 
	
	<h2 id= "introMsg">
		<span id= "studyGroupWelcomeMessage1" contenteditable="true">  </span><br>
		<span id="studyGroupWelcomeMessage1" contenteditable="true">Study Group Page:</span>
	</h2>
	
	<ul id= groupDetails>
		<li id= "groupAdminName"> </li>
		<li id="dateCreated"> </li>
	</ul>  
	
</body>

</html> 